<div class="color-line"></div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>SIGN IN</h3>
                <small>Use the email address that you registered with.</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form name="loginForm" class="login-form" id="loginForm" ng-submit="startLogin(loginForm.$valid)" novalidate>
                            <div class="form-group">
                                <label class="control-label" for="username">E-mail</label>
                                <input type="email" placeholder="example@gmail.com" title="Please enter your e-mail address" required="" value="" ng-model="credentials.email" name="email" id="email" class="form-control">
                                <span class="help-block small">Enter your email address</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" required="" value="" ng-model="credentials.password" name="password" id="password" class="form-control">
                                <span class="help-block small">Enter your password</span>
                            </div>
                            <div class="checkbox">
                                    <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                                     Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>
                            <button class="btn btn-success btn-block">Sign In</button>
                            <a class="btn btn-link btn-block" ui-sref="sign-up">Register</a>
                        </form>
                </div>
            </div>
        </div>
    </div>

</div>
