<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
  <h4 id="changepassModalLabel" class="modal-title text-center">Passwort ändern</h4>
</div>
<div class="modal-body">
  <div class="row text-center">
    <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
      <form class="form" name="changePassword" ng-submit="updatePassword(changePassword.$valid)">

        <div class="form-group">
          <label class="sr-only" for="old_password">Altes Passwort</label>
          <input type="password" class="form-control" name="old_password" ng-model="old_password" ng-blur="validate=true" placeholder="Altes Passwort" required ng-minlength="4" />
          <div ng-messages="changePassword.old_password.$error" ng-show="changePassword.old_password.$dirty || (changePassword.old_password.$invalid && changePassword.old_password.$touched)">
            <div ng-message="required">Bitte gib dein Passwort ein.</div>
            <div ng-message="minlength">Dein Passwort muss mindestens 4 Zeichen lang sein.</div>
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="password">Neues Passwort</label>
          <input name="password" class="form-control" type="password" ng-model="password" ng-blur="validate=true" placeholder="Passwort" required ng-minlength="4"/>
          <div ng-messages="changePassword.password.$error" ng-show="changePassword.password.$dirty || (changePassword.password.$invalid && changePassword.password.$touched)">
            <div ng-message="required">Bitte gib dein Passwort ein.</div>
            <div ng-message="minlength">Dein Passwort muss mindestens 4 Zeichen lang sein.</div>
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="password_confirmation">Passwort wiederholen</label>
          <input type="password" class="form-control" name="password_confirmation" ng-model="password_confirmation" ng-blur="validate=true" placeholder="Passwort wiederholen" required ng-minlength="4"/>
          <div ng-messages="changePassword.password_confirmation.$error" ng-show="changePassword.password_confirmation.$dirty || (changePassword.password_confirmation.$invalid && changePassword.password_confirmation.$touched)">
            <div ng-message="required">Bitte gib dein Passwort ein.</div>
            <div ng-message="minlength">Dein Passwort muss mindestens 4 Zeichen lang sein.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="changePassword.$invalid">
          <fa name="floppy-o"></fa>&nbsp;Speichern
        </button>

      </form>
    </div>
  </div>
</div><!--//modal-body-->
<div class="modal-footer">
  <!-- <p>Ich möchte <a class="back-to-login-link" id="back-to-login-link" href="#" data-dismiss="modal">zurück zur Anmeldung</a></p> -->
</div><!--//modal-footer-->