<div class="container contact-form-section">
  <div class="row">
    <h3 class="title text-center">Kontoeinstellungen</h3>
    <p class="intro text-center">Hier kannst du deine Kontodaten verwalten und persönlich Einstellungen vornehmen.</p>

    <div class="text-center">
        <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
            <form class="form" id="contact-form"  name="userForm" ng-submit="updateUser(userForm.$valid)">
                <div class="form-group btn-group gender">
                  <label class="btn btn-success" ng-model="user.gender" btn-radio="'f'" value="f">Frau</label>
                  <label class="btn btn-success" ng-model="user.gender" btn-radio="'m'" value="m">Herr</label>
                </div>
                <div class="form-group name hidden-xs hidden-sm">
                  <div class="row">
                    <div class="col-xs-6">
                      <label class="sr-only" for="name">Vorname</label>
                      <input id="name" name="name" type="text" class="form-control" placeholder="Vorname" ng-model="user.first_name" required ng-minlength="2" />
                    </div>
                    <div class="col-xs-6">
                      <label class="sr-only" for="lastname">Nachname</label>
                      <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Nachname" ng-model="user.last_name" required ng-minlength="2" />
                    </div>
                  </div>
                </div><!--//form-group-->
                <div class="form-group name hidden-md hidden-lg">
                  <div class="form-group name">
                    <label class="sr-only" for="name">Vorname</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Vorname" ng-model="user.first_name" required ng-minlength="2" />
                  </div>
                  <div class="form-group lastname">
                    <label class="sr-only" for="lastname">Nachname</label>
                    <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Nachname" ng-model="user.last_name" required ng-minlength="2" />
                  </div>
                </div><!--//form-group-->
                <div class="form-group email">
                    <label class="sr-only" for="user.email">E-Mail</label>
                    <input id="email" type="email" class="form-control" placeholder="Email" ng-model="user.email" required />
                </div><!--//form-group-->
                <div class="form-group birthday">
                  <label class="sr-only" for="user.birthday">Geburtstag</label>
                  <input id="birthday" type="date" name="user.birthday" class="form-control" placeholder="Geburtstag" ng-model="user.birthday" required />
                </div>

                <button type="submit" class="btn btn-primary">
                  <fa name="floppy-o"></fa>&nbsp;Speichern
                </button>
                &nbsp;
                <button type="button" ng-click="showChangePasswordDialog()" class="btn btn-warning">
                  <fa name="key"></fa>&nbsp;Passwort ändern
                </button>
            </form>
        </div>
    </div>
  </div>
</div>